<!DOCTYPE html>
<html
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="adminlayout :: head">
    <link rel="stylesheet" type="text/css" href="style.css" th:href="@{/style.css}">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" ref="/css/jquery-ui.min.css" th:href="@{/css/jquery-ui.min.css}"/>

</head>
<body>
<header th:replace="adminlayout :: header"></header>

    <div align="center">

        <br>
        <div class="alert alert-info" th:text="#{all.useres}">All useres:</div>
        <table class="table table-dark" align="center">
            <thead>
            <tr>
                <th scope="col" th:text="#{id}">ID</th>
                <th scope="col" th:text="#{user.name}">Username</th>
                <th scope="col" th:text="#{e.mail}">Email</th>
                <th scope="col" th:text="#{role}">Role</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user: ${allUsers}">
                <td th:text="${user.id}" />
                <td th:text="${user.username}" />
                <td th:text="${user.email}" />
                <td th:text="${user.getRoleList()}" />
                <td>
                    <a class="btn btn-danger" th:href="@{'/adminpanel/deleteUser/'+${user.id}}" th:text="#{delete}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>


        <br>
        <div class="alert alert-info" th:text="#{all.books}">All books:</div>
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col" th:text="#{id}">ID</th>
                    <th scope="col" th:text="#{title}">Title</th>
                    <th scope="col" th:text="#{author}">Author</th>
                    <th scope="col" th:text="#{isbn}">ISBN</th>
                    <th scope="col" th:text="#{status}">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="book: ${allBooks}">
                    <td th:text="${book.id}" />
                    <td th:text="${book.title}" />
                    <td th:text="${book.author}" />
                    <td th:text="${book.ISBN}" />

                    <td>
                        <span class="btn btn-outline-success" th:if="${book.available}" th:text="#{available}">available</span>
                        <span class="btn btn-outline-danger" th:unless="${book.available}" th:text="#{borrowed}">borrowed</span>
                    </td>
                    <td>
                        <a class="btn btn-warning" th:href="@{'/adminpanel/editBook/'+${book.id}}" th:text="#{edit}">Edit</a>
                    </td>
                    <td>
                        <a class="btn btn-danger" th:href="@{'/adminpanel/deleteBook/'+${book.id}}" th:text="#{delete}">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
<footer th:replace="adminlayout :: footer"></footer>
</body>
</html>