<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>USER PANEL</title>
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"-->
<!--          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">-->
<!--    <link rel="stylesheet" type="text/css" href="style.css">-->
    <link rel="stylesheet" type="text/css" href="style.css" th:href="@{/style.css}">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" ref="/css/jquery-ui.min.css" th:href="@{/css/jquery-ui.min.css}"/>

</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark"; position="fixed">
    <ul class="navbar-nav mr-auto">
    <p class="currentUser">Current user: <span th:text="${currentUser}"></span></p>
    </ul>
    <ul class="navbar-nav mr-auto">
    <form th:action="@{/userpanel}"method="get">
        <button class="btn btn-outline-light btn-lg my-2 my-sm-0" type="submit">Back to my books</button>
    </form>
    </ul>
    <ul class="navbar-nav navbar-right">
    <form action="/logout" method="get">
        <button class="btn btn-outline-light btn-lg my-2 my-sm-0" type="submit">Logout</button>
    </form>
    </ul>
    <ul class="navbar-nav navbar-right mx-4">
    <li class="nav-item dropdown show mx-2"><a
            class="btn btn-outline-primary dropdown-toggle" href="#"
            role="button" id="dropdownLanguage" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false"><span
            th:text="#{text.locale.language}"></span></a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" th:href="@{/locale(lang=en_EN)}"
               th:text="#{text.locale.en}">EN</a>
            <a class="dropdown-item" th:href="@{/locale(lang=ru_RU)}"
               th:text="#{text.locale.ru}">RU</a>

        </div>
    </li>
    </ul>
</nav>

<div align="center">

    <br><h2 style="color: white">All books</h2><br>
    <table class="table table-dark">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">ISBN</th>
            <th scope="col">Status</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book: ${actualBooks}">
            <td th:text="${book.id}" />
            <td th:text="${book.title}" />
            <td th:text="${book.author}" />
            <td th:text="${book.ISBN}" />

            <td>
                <p class="btn btn-outline-success" th:if="${book.available} ">available</p>
                <p class="btn btn-outline-danger" th:unless="${book.available}">borrowed</p>
            </td>
            <td>
                <p th:if="${book.available} ">
                    <a class="btn btn-warning" th:href="@{'/userpanel/borrow/'+${book.id}}">Borrow</a>
                </p>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<footer>
    <hr/>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Bootstrap JS -->
    <script src="/js/jquery-3.2.1.min.js" th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script src="/js/popper.min.js" th:src="@{/js/popper.min.js}"></script>
    <script src="/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <script src="/js/jquery-ui.min.js" th:src="@{/js/jquery-ui.min.js}"></script>
</footer>

</body>
</html>