<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>USER PANEL</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div align="center" >
        <h1 style="color: white">Edit book</h1>
        <form action="#" th:action="@{/adminpanel/editBook}" th:object="${book}" method="post">
            <div class="form-group">
                <label for="id">Id:</label>
                <input type="text" th:field="*{id}" class="form-control" placeholder="Enter id" id="id" readonly="readonly">
                <p th:if="${#fields.hasErrors('id')}" th:errors="*{id}" class="alert alert-danger"></p>
            </div>
            <div class="form-group">
                <label for="title">Title:</label>
                <input type="text" th:field="*{title}" class="form-control" placeholder="Enter title" id="title">
                <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="alert alert-danger"></p>
            </div>
            <div class="form-group">
                <label for="author">Author:</label>
                <input type="text" th:field="*{author}" class="form-control" placeholder="Enter author" id="author">
                <p th:if="${#fields.hasErrors('author')}" th:errors="*{author}" class="alert alert-danger"></p>
            </div>

            <div class="form-group">
            <label for="ISBN">ISBN:</label>
            <input type="text" th:field="*{ISBN}" class="form-control" placeholder="Enter ISBN" id="ISBN">
            <p th:if="${#fields.hasErrors('ISBN')}" th:errors="*{ISBN}" class="alert alert-danger"></p>
        </div>

            <div class="form-group">
                <label for="available">available:</label>
                <input type="text" th:field="*{available}" class="form-control" placeholder="Enter available" id="available" readonly="readonly">
                <p th:if="${#fields.hasErrors('available')}" th:errors="*{available}" class="alert alert-danger"></p>
            </div>

            <button type="submit" class="btn btn-primary">SAVE CHANGES</button>
        </form>
    </div>
</body>
</html>