<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>WELCOME</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="style.css">
    <body>
        <nav class="navbar navbar-dark bg-dark">
            <form action="/login" method="get">
                <button class="btn btn-outline-light btn-lg my-2 my-sm-0" type="submit" style="align-items: center">Login
                </button>
            </form>
            <p class="currentUser"> WELCOME </p>
            <form action="/register" method="get">
                <button class="btn btn-outline-light btn-lg my-2 my-sm-0" type="submit">Register</button>
            </form>
        </nav>
    </body>
</html>