<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: head"></head>
    <body>
    <header th:replace="layout :: header"></header>

        <div class="container" >

            <form class="form-signin" method="post" action="/login">
                <h2 class="form-signin-heading" style="color: white" th:text="${registerOK}"></h2>
                <h2 class="form-signin-heading" style="color: white" th:text="#{please.sign.in}" >Please sign in</h2>

                <p>
                    <label for="username" class="sr-only" th:text="#{user.name}">Username</label>
                    <input type="text" id="username" name="username" class="form-control" th:placeholder="#{user.name}" required="" autofocus="">
                </p>
                <p>
                    <label for="password" class="sr-only" th:text="#{password}">Password</label>
                    <input type="password" id="password" name="password" class="form-control" th:placeholder="#{password}" required="">
                </p>
                <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{sign.in}">Sign in</button>
            </form>
        </div>
    </body>
<footer th:replace="layout :: footer"></footer>
</html>