<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title th:text="#{user.panel}">USER PANEL</title>
    <link rel="stylesheet" type="text/css" href="style.css" th:href="@{/style.css}">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" ref="/css/jquery-ui.min.css" th:href="@{/css/jquery-ui.min.css}"/>
</head>
<body>
<header th:fragment="header">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark"; position="fixed">
        <ul class="navbar-nav mr-auto">
        <p class="currentUser" th:text="#{current.user}">Current user: <span th:text="${currentUser}"></span></p>
        </ul>
        <ul class="navbar-nav mr-auto">
        <form action="#" th:action="@{/userpanel/showBooksInLibrary}" method="get" >
            <button class="btn btn-success btn-lg my-2 my-sm-0" type="submit" th:text="#{borrow.book}">Borrow book</button>
        </form>
        </ul>
        <ul class="navbar-nav navbar-right">
        <form action="/logout" method="get">
            <button class="btn btn-outline-light btn-lg my-2 my-sm-0"  type="submit" th:text="#{logout}">Logout</button>
        </form>
        <ul class="navbar-nav navbar-right mx-4">

            <li class="nav-item dropdown show mx-2"><a
                    class="btn btn-outline-primary dropdown-toggle" href="#"
                    role="button" id="dropdownLanguage" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"><span
                    th:text="#{text.locale.language}"></span></a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" th:href="@{/locale(lang=en_EN)}"
                       th:text="#{text.locale.en}">EN</a>
                    <a class="dropdown-item" th:href="@{/locale(lang=ru_RU)}"
                       th:text="#{text.locale.ru}">RU</a>

                </div>
            </li>
        </ul>
    </nav>
</header>
<nav th:fragment="paginator">

    <ul class="pagination">
        <li class="page-item" th:class="${page.first? 'page-item disabled': 'page-item'}">
            <span class="page-link" th:if="${page.first}" th:text="#{text.paginator.first}">First</span>
            <a class="page-link" th:if="${not page.first}" th:href="@{${page.url}(page=0)}" th:text="#{text.paginator.first}">First</a>
        </li>


        <li class="page-item" th:class="${not page.hasPrevious? 'page-item disabled': 'page-item'}">
            <span class="page-link" th:if="${not page.hasPrevious}" th:utext="#{text.paginator.previous}">&laquo;</span>
            <a class="page-link" th:if="${page.hasPrevious}" th:href="@{${page.url}(page=${page.actualPage-2})}" th:utext="#{text.paginator.previous}">&laquo;</a>
        </li>

        <li class="page-item" th:each="item : ${page.pageItems}" th:class="${item.actual? 'page-item active': 'page-item'}">
            <span class="page-link" th:if="${item.actual}" th:text="${item.number}"></span>
            <a class="page-link" th:if="${not item.actual}" th:href="@{${page.url}(page=${item.number-1})}" th:text="${item.number}"></a>
        </li>


        <li class="page-item" th:class="${not page.hasNext? 'page-item disabled': 'page-item'}">
            <span class="page-link" th:if="${not page.hasNext}" th:utext="#{text.paginator.next}">&raquo;</span>
            <a class="page-link" th:if="${page.hasNext}" th:href="@{${page.url}(page=${page.actualPage})}" th:utext="#{text.paginator.next}">&raquo;</a>
        </li>
        <li class="page-item" th:class="${page.last? 'page-item disabled': 'page-item'}">
            <span class="page-link" th:if="${page.last}" th:text="#{text.paginator.last}">Last</span>
            <a class="page-link" th:if="${not page.last}" th:href="@{${page.url}(page=${page.totalPages-1})}" th:text="#{text.paginator.last}">Last</a>
        </li>
    </ul>

</nav>
<footer th:fragment="footer" class="container">
    <hr/>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Bootstrap JS -->
    <script src="/js/jquery-3.2.1.min.js" th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script src="/js/popper.min.js" th:src="@{/js/popper.min.js}"></script>
    <script src="/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <script src="/js/jquery-ui.min.js" th:src="@{/js/jquery-ui.min.js}"></script>
</footer>
</body>
</html>